:root {
    --table-title: #20a9e5;
    --table-odd: #b1e5f2;
    --table-even: #ffffff;
    --highlights: #ffff00;
    --booleaner: #46b8ea;
}

body {
    margin: 0;
}

main {
    margin: 5px;
}

.highligth {
    background-color: var(--highlights);
}

/* Top */
#top {
    background-image: url(../img\ /pattern.png);
    background-repeat: repeat-x;
    background-size: 30%;
    background-color: #4ea0ff;
    color: #ffffff;
}

#logo {
    height: 50px;
    padding-top: 30px;
}
/* Top */


/* Info */
.info {
    color: #838383;
    font-weight: bold;
}

#date {
    color: #838383;
    font-size: 0.8rem;
}
/* Info */


/* Caption */
#caption {
    font-size: 0.8rem;
}
/* Caption */


/* Table */
#thead {
    background-color: var(--table-title);
    color: #ffffff;
}

.tr-even {
    background-color: var(--table-even);
}

.tr-odd {
    background-color: var(--table-odd);
}

.little-column {
    width: 25%;
}

.big-column {
    width: 50%;
}
/* Table */

/* Lorem ipsum */
#Lorem1 {
    background-image: url(../img\ /monitor.jpg);
    height: 225px;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

#Lorem2 {
    background-image: url(../img\ /graph.jpg);
    height: 225px;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}
/* Lorem ipsum */


